# 本项目需要的环境依赖包如下：
matplotlib>=3.2.2
numpy>=1.18.5,<2.0
ultralytics>=8.0.0
opencv-python>=4.6.0
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.64.0
pandas>=1.1.4
seaborn>=0.11.0

# TensorBoard 留作大家后续了解训练曲线用
# tensorboard>=2.4.1

# 以下两项已被注释，现场请务必使用提供的本地 .whl 包离线安装！
# torch>=1.7.0
# torchvision>=0.8.1